<h1>forms-decor demo</h1>

<h2>controlFromModel()</h2>

<h3>Create user</h3>

<form [formGroup]="formNew" (ngSubmit)="createUser()">
    <div>
        <span>Name:</span>
        <input type="text" formControlName="name">
    </div>
    <div>
        <span>Password:</span>
        <input type="password" formControlName="password">
    </div>
    <div>
        <button type="submit" [disabled]="formNew.invalid">Create</button>
    </div>
</form>

<h3>Update user</h3>

<form [formGroup]="formExisting" (ngSubmit)="updateUser()">
    <div>
        <span>Name:</span>
        <input type="text" formControlName="name">
    </div>
    <div>
        <span>Password:</span>
        <input type="password" formControlName="password">
    </div>
    <div>
        <button type="submit" [disabled]="formExisting.invalid">Update</button>
    </div>
</form>

<h2>groupFromModel()</h2>

<h3>Update article</h3>

<form [formGroup]="formArticle" (ngSubmit)="updateArticle()">
    <div>
        <span>Title:</span>
        <input type="text" formControlName="title">
    </div>
    <div>
        <span>Body:</span>
        <input type="text" formControlName="body">
    </div>
    <div>
        <button type="submit" [disabled]="formArticle.invalid">Update</button>
    </div>
</form>


